html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
box-sizing: inherit;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&family=Oswald:wght@400;700&display=swap');
$fuentePrincipal: 'Oswald', sans-serif;
$colorTexto: #EDEBEB;
* {
    font-family: $fuentePrincipal;
    font-weight: normal;
    color: $colorTexto;
}
h1,h2,h3,h4 {
    margin: 0;
}
body {
    // height: 100vh;
    background-attachment: fixed;
    background-image: url(../assets/img/background_planets1.png);
    background-position: top;
    background-size: cover;
}


a {
    text-decoration: none;
    color: $colorTexto;
}
.contenido {
    width: 90%;
    margin: 0 auto;
}
.actual {
    color: #1756F3;
}
// Estilos del Header
.header {
    display: flex;
    justify-content: space-between;
    padding: 1.8rem;
    h1 {
        font-weight: bold;
        font-size: 2rem;
    }
    a {
        font-size: 1.5rem;
    }
    a:hover {
        color: rgba($color: #F32E17, $alpha: 0.8);
    }
    border-bottom: 0.5px solid rgba(227, 227, 227, 0.25);

}
.nav {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    a {
        font-size: 1.8rem;
    }
}
.svg {
    width: 40rem;
    margin: 0 auto;
}
.contenido_principal {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1.2rem;
    padding: 2rem;
}
.informacion-principal_texto {
    h2 {
        font-size: 5rem;
    }
    p {
        font-size: 2rem;
        color: rgba(227, 227, 227, 0.8);
    }
    h3 {
        font-size: 1.75rem;
        color: rgba(227, 227, 227, 0.4);

    }
    a {
        font-size: 1.75rem;
        text-decoration: underline;
    }
    a:hover {
        color: rgba($color: #F32E17, $alpha: 0.8);
    }
}
.textos {
    p {
        display: none;
    }
    .texto-actual {
        display: block;
    }
}

.contenido_secundario {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .cuadro {
        padding: 1rem;
        border: 1px solid rgba(227, 227, 227, 0.25);
        min-width: 20rem;
        h3 {
            font-size: 1.4rem;
            color: rgba(227, 227, 227, 0.8);
        }
        h2 {
            font-size: 3rem;
            margin: 1.5rem 0;
            font-weight: normal;
        }
    }
}

.lista_informacion {
    list-style: none;
    padding-left: 0;
    margin-top: 2.5rem;

    li {
        border: 1px solid rgba(227, 227, 227, 0.25);
        border-radius: 2.5px;
        padding: 1.5rem;
        margin: 1rem 1rem 1rem 0;
        font-size: 2rem;
        cursor: pointer;
        &:hover {
            background-color: rgba($color: #5C00AE, $alpha: 0.1);
        }
    }
    .item_actual {
        background-color: #5C00AE;
        &:hover {
            background-color: #5C00AE;
        }
    }
}